@import "button";

.root {
  padding: 30px;
  text-align: center;
  font-family: Raleway;


  object {
    width: 20%;
  }

  h1, h3 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  h2, h3 {
     /*letter-spacing: .1em;*/
  }

  h1 {
    letter-spacing: .7em;
  }
}
