@import 'globals';

.root {
  width: 100%;  
  color: white;
  padding: 30px; 
  margin: 0 auto;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 8px;
  border-radius: 2px;
  box-sizing: border-box;
  text-align: justify;

  display: flex;
  align-items: center;

  .icono {
    font-size: 70px !important;
  }

  &[color="verde"] {
    background-color: $verde;
    border-color: darken($verde, 20%);

    &:hover {
      background-color: darken($verde, 10%);
    }
  }
  &[color="gris"] {
    background-color: $gris;
    border-color: darken($gris, 20%);

    &:hover {
      background-color: darken($gris, 10%);
    }
  }
  &[color="azul"] {
    background-color: $azul;
    border-color: darken($azul, 20%);

    &:hover {
      background-color: darken($azul, 10%);
    }
  }
  &[color="rojo"] {
    background-color: $rojo;
    border-color: darken($rojo, 20%);

    &:hover {
      background-color: darken($rojo, 10%);
    }
  }
  &[color="blanco"] {
    color: #212121;
    background-color: white;
    border-color: lighten(#212121, 60%);

    &:hover {
      background-color: #F6F6F6;
    }
  }
  &[color="cafe"] {
    background-color: $cafe;
    border-color: darken($cafe, 20%);

    &:hover {
      background-color: darken($cafe, 10%);
    }
  }
  &[color="beige"] {
    background-color: $beige;
    border-color: darken($beige, 20%);

    &:hover {
      background-color: darken($beige, 10%);
    }
  }
}
