$altura: 64px;

.root {
  height: $altura;
  font-size: 24px;
  border-bottom: 1px solid #B6B6B6;
  box-sizing: border-box;

  .logo {
    width: 25px;
  }

  .title {
    color: #333;
    padding: 0 16px;
    letter-spacing: .3em;
  }

  .title, .subtitle {
    text-transform: uppercase;
  }

  .subtitle {
    color: #727272;
    font-size: 20px;
    font-weight: 400;
  }

  a {margin: 0 !important; }

  div, a {
    height: $altura;
    display: flex;
    margin-left: 30px;
    align-items: center;
  }
}
