$altura: 64px;

.root {
  height: $altura;
  font-size: 18px;
  position: relative;
  border-bottom: 1px solid #B6B6B6;
  box-sizing: border-box;

  .logo {
    width: 25px;
  }

  .title {
    color: #333;
    padding: 0 16px;
    letter-spacing: .3em;
  }

  .title, .subtitle {
    text-transform: uppercase;
  }

  .subtitle {
    color: #727272;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3px;
  }

  a {margin: 0 !important; }

  div, a {
    height: $altura;
    display: flex;
    margin-left: 30px;
    align-items: center;
  }

  i {
    right: 0;
    padding: 5px;
    color: #2DBA72;
    cursor: pointer;
    position: absolute;
    align-self: center;
    border-radius: 50%;
    margin: 15px 25px 20px 20px;
    transition: background .3s linear;

    &:hover {
      background: rgba(0, 0, 0, 0.12);
    }
  }
}
